

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    
    <div class="slideshow-container">
    
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img id = "img-slider" src="/static/carousel-1.jpeg">

    </div>
    
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img id = "img-slider" src="/static/carousel-2.jpeg">
   
    </div>
    
    <div class="mySlides fade">
      <div class="numbertext"></div>
      <img id = "img-slider" src="/static/carousel-3.jpeg" >
    
    </div>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>

    <script src="/js/slider.js"></script>
</body>

